@font-face {
  font-family: 'Sao Chingcha';
  src: url('/fonts/SaoChingcha-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}
